<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Session2Entities" connectionString="metadata=res://*/Session2Model.csdl|res://*/Session2Model.ssdl|res://*/Session2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Session2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>